.login {
  width: 100vw;
  height: 100vh;
  background-image: url('~@/assets/images/login.png');
  background-size: cover;
  position: relative;
  left: 0;
  top: 0;

  .login-container {
    position: absolute;
    width: 440px;
    height: 360px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;

    .login-logo {
      width: 200px;
      height: 60px;
      display: block;
      margin: 0 auto 20px;
    }
  }
}
